<section data-w-id="c46c3174-9fc7-0756-5e7e-52330fa812e7" class="footer wf-section">
    <div class="container w-container">
      <div class="w-layout-grid grid-2">
        <div class="div-block-5">
          <h6><strong class="bold-text">{{ texts.2541b33e }}</strong></h6>
          <div class="rich-text-block w-richtext">
            <p><strong>{{ texts.-1f60bf13 }}</strong>{{ texts.60a19766 }}<br><strong>{{ texts.-1df83bc6 }}</strong>
              <a href="{{ links.1e28d626 }}">{{ texts.d8ed9a2 }}</a><br><strong>{{ texts.7bec143e }}</strong>
              <a href="{{ links.21401470 }}">{{ texts.-4a261f98 }}</a>
            </p>
            <p>{{ texts.200d }}</p>
            <p><strong>{{ texts.22555490 }}</strong>{{ texts.-6dccfccc }}</p>
          </div>
        </div>
        <div>
          <h6><strong class="bold-text">{{ texts.-d2e3e9c }}</strong></h6>
          <div class="footer-nav-links">
            <a href="{{ links.-44e39efd }}" class="footer-link">{{ texts.-1c6b4e6e }}</a>
            <a href="{{ links.-386212ba }}" class="footer-link">{{ texts.3b341638 }}</a>
            <a href="{{ links.44768dd7 }}" class="footer-link">{{ texts.-66e77f94 }}</a>
            <a href="{{ links.caf11a4 }}" class="footer-link">{{ texts.-1b4d0ccb }}</a>
          </div>
        </div>
        <div>
          <h6><strong class="bold-text">{{ texts.4515799 }}</strong></h6>
          <div class="footer-nav-links">
            <a href="{{ links.6a3b443 }}" class="footer-link">{{ texts.57850f32 }}</a>
            <a href="{{ links.55b8e8be }}" class="footer-link">{{ texts.645efc51 }}</a>
            <a href="{{ links.45a2c2f9 }}" class="footer-link">{{ texts.-697be218 }}</a>
            <a href="{{ links.7ca82980 }}" class="footer-link">{{ texts.1a9e84af }}</a>
            <a href="{{ links.634882d6 }}" class="footer-link">{{ texts.13ede05 }}</a>
          </div>
        </div>
        <div>
          <h6><strong class="bold-text">{{ texts.-2c3fb613 }}</strong></h6>
          <div class="social-link-group">
            <a href="{{ links.18ed3b53 }}" target="_blank" class="social-icon-link w-inline-block">{%- image images.576093f4.url, images.576093f4.alt, '[]', 'width="25"' -%}</a>
            <a href="{{ links.-6973cdca }}" target="_blank" class="social-icon-link w-inline-block">{%- image images.-51e0e1fa.url, images.-51e0e1fa.alt, '[]', 'width="25"' -%}</a>
            <a href="{{ links.23 }}" class="social-icon-link hide w-inline-block">{%- image images.3e452cbd.url, images.3e452cbd.alt, '[]', 'width="25"' -%}</a>
            <a href="{{ links.23 }}" class="social-icon-link hide w-inline-block">{%- image images.4e36dc6f.url, images.4e36dc6f.alt, '[]', 'width="25"' -%}</a>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="c46c3174-9fc7-0756-5e7e-52330fa8132b" class="div-block-3">
      <div class="container w-container">
        <div class="footer-text-disclaimer-text">{{ texts.-51fd581d }}</div>
      </div>
    </div>
  </section>