<div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
          <div class="container w-container">
            <div class="navigation-wrap">
              <a href="{{ links.2f }}" aria-current="page" class="logo-link w-nav-brand w--current"></a>
              <div class="menu">
                <nav role="navigation" class="navigation-items w-nav-menu">
                  <div data-hover="false" data-delay="300" class="nav-dropdown w-dropdown">
                    <div class="navigation-item w-dropdown-toggle">
                      <a href="{{ links.-343cd6d }}" class="navigation-item light w-nav-link">{{ texts.-37f9ca7c }}</a>
                    </div>
                    <nav class="dropdown-list w-dropdown-list">
                      <div class="dropdown-item-wrapper">
                        <div class="dropdown-item first-child">
                          <a href="{{ links.-44e39efd }}" class="link-block-4 w-inline-block">
                            <div class="dropdown-text">{{ texts.-1c6b4e6e }}</div>
                          </a>
                        </div>
                        <div class="dropdown-item">
                          <a href="{{ links.-386212ba }}" class="link-block-4 w-inline-block">
                            <div class="dropdown-text">{{ texts.3b341638 }}</div>
                          </a>
                        </div>
                        <div class="dropdown-item">
                          <a href="{{ links.44768dd7 }}" class="link-block-4 w-inline-block">
                            <div class="dropdown-text">{{ texts.-66e77f94 }}</div>
                          </a>
                        </div>
                        <div class="dropdown-item">
                          <a href="{{ links.caf11a4 }}" class="link-block-4 w-inline-block">
                            <div>{{ texts.-1b4d0ccb }}</div>
                          </a>
                        </div>
                      </div>
                    </nav>
                  </div>
                  <a href="{{ links.6a3b443 }}" class="navigation-item light w-nav-link">{{ texts.57850f32 }}</a>
                  <a href="{{ links.55b8e8be }}" class="navigation-item light w-nav-link">{{ texts.645f0031 }}</a>
                  <a href="{{ links.45a2c2f9 }}" class="navigation-item light w-nav-link">{{ texts.-697be218 }}</a>
                  <a href="{{ links.7ca82980 }}" class="navigation-item light w-nav-link">{{ texts.1a9e84af }}</a>
                  <a href="{{ links.5e5270da }}" class="button cc-contact-us dark-bg w-inline-block">
                    <div class="text-block-11">{{ texts.-5230a9d2 }}</div>
                  </a>
                </nav>
                <div class="menu-button w-nav-button">{%- image images.-70f6df7d.url, images.-70f6df7d.alt, '[{"max":10000,"size":"100vw"}]', 'width="22" class="menu-icon"' -%}</div>
              </div>
            </div>
          </div>
        </div>